# ─────────────────────────────────────────────
# Smart Disaster Coordination System - ENV CONFIG
# Copy this file to .env and fill in your values
# ─────────────────────────────────────────────

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/disaster_coordination


# JWT
JWT_SECRET=mysecretkey123
JWT_EXPIRE=7d

REACT_APP_MAPBOX_TOKEN=your_mapbox_token_here
# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_URL=

# Web Push (VAPID Keys)
VAPID_PUBLIC_KEY=BMnadSpRa2ZKfRBiLkIe6TBoS0Y14gQO1Y1s-Fqtvupj8jebbsrA8jZimhmDe_TgyFUmEzdmxniPmvUS7_aEPAM
VAPID_PRIVATE_KEY=vgMqW9__OpfNWIyLdprnKuKov7YLwdMBfGquAk7WWe8
VAPID_MAILTO=mailto:your@email.com

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
